#root,
.App,
.page-content {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-title {
  text-align: center;
  font-size: 4rem;
  padding: 40px 0;
  color: magenta;
  text-shadow: 1px 1px 1.5px rgba(255, 255, 255, 0.3), -1px 1px 1.5px rgba(255, 255, 255, 0.3), -1px -1px 1.5px rgba(255, 255, 255, 0.3), 1px -1px 1.5px rgba(255, 255, 255, 0.3), 1px 0 1.5px rgba(255, 255, 255, 0.3), 0 1px 1.5px rgba(255, 255, 255, 0.3), -1px 0 1.5px rgba(255, 255, 255, 0.3), 0 -1px 1.5px rgba(255, 255, 255, 0.3);
}

.page-content {
  background-image: url("./_assets/space-geometry-stars-cyan-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation-container {
  position: relative;
  z-index: 2;
}